<template>
  <div class="newFeed">
    <a class="twitter-timeline" 
        href="https://twitter.com/ResonateAU">
        Tweets by ResonateAU
    </a> 
  </div>
</template>

<script>
export default {
  name: 'TwitterNewFeed',
  mounted() {
      let recaptchaScript = document.createElement('script')
      recaptchaScript.setAttribute('src', 'https://platform.twitter.com/widgets.js')
      document.head.appendChild(recaptchaScript)
  },
}
</script>

<style scoped>
.newFeed{
    margin: auto;
    width: 50%;
}
</style>
