<template>
  <div id="app">
    <TwitterNewFeed />
  </div>
</template>

<script>
import TwitterNewFeed from './components/TwitterNewFeed'

export default {
  name: 'App',
  components: {
    TwitterNewFeed
  }
}
</script>

